[data-sitename="aplcomputationalphysics"] .hero-row {
	background-image: url('/ImageLibrary/Publications/aco/aco_hero.jpg');
}
.widget-instance-aco_home-self-serve-content-submit-button{
	border:none !important;
}
.widget-instance-aco_home-self-serve-content-socials{
	border:none !important;
}